.main {
    background: url("../images/closeThatDeal.png");
    width: 500px;
    height: 700px;
    border-radius: 15px;
    margin: auto;
}

body {
    background: url("../images/calcimg.png");
}

h1 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 150px;
}

.input {
    margin-left: 90px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
    border: solid silver;
    font-family: cursive;
}

button {
    margin-left: 90px;
    width: 325px;
    height: 35px;
    border-radius: 15px;
    outline: none;
    background-color: darkseagreen;
    border: solid darkseagreen;
}
span {
    font-family: cursive;
    font-weight: bolder;
    font-size: 40px;
}

.foota {
    width: 500px;
    height: 80px;
    background-color: darkseagreen;
    margin-top: 173px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    padding-top: 20px;
}

h3 {
    margin-left: 90px;
    text-transform: uppercase;
    /* color: red; */
}
@media screen and (max-width: 500px) {
    body {
        width: 100%;
        height: auto;
    }
    .main {
        width: 100%;
        height: auto;
    }
}
